/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 1, 2024, 10:32:51 AM
    Author     : KalabovdaR
*/


section h4 {
    font-size: 150%;
    margin-top: 7px;
    margin-bottom: 10px;  
}